<div class="form-container">
  <%= form_with(model: connection) do |form| %>
      <%= form.hidden_field :account_id, value: connection.account_id %>
        <% if connection.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(connection.errors.count, "error") %> prohibited this connection from being saved:</h2>

            <ul>
              <% connection.errors.each do |error| %>
                <li><%= error.full_message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
    
        <div class="field mb-3">
            <%= form.label :connection_type, class: "form-label"  %>
            <%= form.select :connection_type, ["call", "email"], class:"form-control" %>
        </div>



        <div class="field mb-3">
            <%= form.label :notes, class: "form-label"  %>
            <%= form.text_field :notes, class:"form-control" %>
        </div>

          
        <div class="field mb-3">
            <%= form.label :product_id, class: "form-label" %>
            <%= form.select :product_id, Product.all.map {|product| ["#{product.name} - #{number_to_currency(product.price)}", product.id]}, class: "form-control" %>
        </div>

        <% if connection.account.contacts.present? && connection.opportunity_check == false %>
          <div class="field mb-3">
              <%= form.label :opportunity_check, class: "form-label"  %>
              <%= form.check_box :opportunity_check%>
          </div>
        <% end %>

        <% if connection.account.contacts.present? %>
          <div class="field mb-3">
              <%= form.label :contact_id, class: "form-label" %>
              <%= form.select :contact_id, connection.account.contacts.map {|contact| ["#{contact.first_name} #{contact.last_name}", contact.id]}, class: "form-control" %>
          </div>
        <% end %>

        <div class="actions">
            <%= form.submit %>
        </div>

  <% end %>
    

</div>