<p id="notice"><%= notice %></p>


<p>
  <strong><%= @connection.notes %></strong>
</p>


<p>
  <strong>Connection:</strong>
  <%= @connection.notes %>
</p>

<%= link_to 'Edit', edit_connection_path(@connection) %> |
<%= link_to 'Back', connection_path %>
