<p id="notice"><%= notice %></p>


<p>
  <strong><%= @connection.notes %></strong>
</p>


<p>
  <strong>Connection:</strong>
  <%= @connection.notes %>
</p>

<p>
  <strong>Date:</strong>
  <%= @connection.created_at.strftime("%I:%M%p on %m/%d/%Y") %>
 
</p>



<%= link_to 'Edit', edit_connection_path(@connection), class:"btn btn-warning"  %> 
<%= link_to 'Back', @connection.account, class:"btn btn-info"  %>

