<p id="notice"><%= notice %></p>

<div class="show-container">
  <div class="home-container">
        <h3>Connection</h3>
        <p><%= @connection.created_at.strftime("%I:%M%p on %m/%d/%Y") %></p>
        <p><strong>Notes: </strong><%= @connection.notes %></p>
        <p><strong>Connection Type: </strong><%= @connection.connection_type %></p>
        

        <%= link_to 'Edit', edit_connection_path(@connection), class:"btn btn-warning"  %> 
        <%= link_to 'Back', @connection.account, class:"btn btn-info"  %>

    </div>
</div>