<p id="notice"><%= notice %></p>
<div class="show-container">
  <div class="home-container">
    <h3>Employee Profile</h3>

    <p>
      <%= @user.first_name %> <%= @user.last_name %>, <%= @user.role %>
    </p>

    <p><%= @user.email %></p>
    
    <% if current_user == @user %>
      <%= link_to 'Edit', edit_user_path(@user), class:"btn btn-warning" %> 
      <%= link_to 'Destroy', users_path, class:"btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %>

    <% end %> 
      <%= link_to 'Back', users_path, class:"btn btn-info"  %>
  </div>
</div>