 <p id='notice'><%= notice %></p>
 <div class="show-container">
<div class="home-container">

  
  <div class="text-home-container">
    <h1>Rails CRM</h1><br>
    <p class="line-1 anim-typewriter">training not required</p>

    <% if current_user %>
      Logged in as <%= current_user.email %>.
      <%= link_to 'Log Out', logout_path %>
    <% else %>
      <button type="button" class="btn text-decoration-none text-white btn-primary"><%= link_to 'Sign Up', signup_path, class:"text-white text-decoration-none" %></button>
      <button type="button" class="btn btn-info"><%= link_to 'Log In', login_path, class:"text-white text-decoration-none" %></button>
    <% end %>
  </div>
</div>
</div>