<div class="form-container">
  <%= form_with(model: contact) do |form| %>

  <% if contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
        <% contact.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>



    <form>
        <div class="field mb-3">
            <label class="form-label"><%= form.label :first_name %></label>
            <div class="form-control"><%= form.text_field :first_name %></div>
        </div>

        <div class="field mb-3">
            <label class="form-label"><%= form.label :last_name %></label>
            <div class="form-control"><%= form.text_field :last_name %></div>
        </div>

        <div class="field mb-3">
            <label class="form-label"><%= form.label :phone %></label>
            <div class="form-control"><%= form.text_field :phone %></div>
        </div>

        <div class="field mb-3">
            <label class="form-label"><%= form.label :email %></label>
            <div class="form-control"><%= form.text_field :email %></div>
        </div>

        <div class="field mb-3">
            <label class="form-label"><%= form.label :role %></label>
            <div class="form-control"><%= form.text_field :role %></div>
        </div>

        <div class="actions">
            <%= form.submit %>
        </div>

        <% end %>
    </form>

</div>