<p id="notice"><%= notice %></p>


<p><strong><%= @contact.first_name %> <%= @contact.last_name %></strong></p>
<p><strong>Phone: </strong><%= @contact.phone %></p>
<p><strong>Email: </strong><%= @contact.email %></p>
<p><strong>Role: </strong><%= @contact.role %></p>

<%= link_to 'Edit', edit_contact_path(@contact), class:"btn btn-warning"  %> 
<%= link_to 'Back', @contact.account, class:"btn btn-info" %>
