<p id="notice"><%= notice %></p>
<div class="show-container">
  <div class="home-container">


    <p><strong><%= @contact.name %>, <%= @contact.role %></strong></p>
    <p><%= link_to @contact.account.company_name, @contact.account %></p>
    <p><strong>Phone: </strong><%= number_to_phone(@contact.phone, area_code: true, delimiter: "-") %></p>
    <p><strong>Email: </strong><%= @contact.email %></p>


    <%= link_to 'Edit', edit_contact_path(@contact), class:"btn btn-warning"  %> 
    <%= link_to 'Back', @contact.account, class:"btn btn-info" %>
    </div>
</div>

