<div class="dash-container">
    <div class="dash-widget-section-container">

        <div class="dash-widget-container dash-tasks">
            <%= render partial: "tasks/tasks", locals: {tasks: current_user.tasks} %>
        </div>

        <div class="dash-widget-container dash-connections">
            <h4>Today's Connections</h4>
            <div class="dash-connections-items">
                <div class="dash-connections-items-group">
                    <p>Calls</p><h2><%= current_user.connections.calls_today.count %></h2>
                </div>
                <div class="dash-connections-items-group">
                    <p>Emails</p><h2><%= current_user.connections.emails_today.count %></h2>
                </div>
            </div>
        </div>
    </div>

    <div class="dash-widget-section-container">
        <div class="dash-widget-container dash-kpis">
            <h4>KPIs</h4>
            <div class="progress-collective-container">

                <div class="progress-title-container">
                    <div class="progress-title">Calls</div>
                    <div class="progress-title">Emails</div>
                    <div class="progress-title">New Opps</div>
                    <div class="progress-title">New Accnts</div>
                </div>

                <div class="progress-bar-container">
                    <div class="progress">
                        <% calls_percent = Kpi.calls(current_user) %>
                        <div class="progress-bar" role="progressbar" style="width: <%= calls_percent %>%" aria-valuenow="<%= calls_percent %>" aria-valuemin="0" aria-valuemax="100"><%= number_to_percentage(calls_percent, precision: 1) %></div>
                    </div>
                    <div class="progress">
                        <% emails_percent = Kpi.emails(current_user) %>
                        <div class="progress-bar" role="progressbar" style="width: <%= emails_percent %>%"  aria-valuenow="<%= emails_percent %>" aria-valuemin="0" aria-valuemax="100"><%= number_to_percentage(emails_percent, precision: 1) %></div>
                    </div>

                    <div class="progress">
                        <% opportunity_percent = Kpi.opps(current_user) %>
                        <div class="progress-bar" role="progressbar" style="width: <%= opportunity_percent %>%" aria-valuenow="<%= opportunity_percent %>" aria-valuemin="0" aria-valuemax="100"><%= number_to_percentage(opportunity_percent, precision: 1) %></div>
                    </div>
                    <div class="progress">
                        <% acct_percent = Kpi.accts(current_user) %>

                        <div class="progress-bar" role="progressbar" style="width: <%= acct_percent %>%" aria-valuenow="<%= acct_percent %>" aria-valuemin="0" aria-valuemax="100"><%= number_to_percentage(acct_percent, precision: 1) %></div>
                    </div>
                </div>

                <div class="progress-title-container">
                    <div class="progress-title">40</div>
                    <div class="progress-title">40</div>
                    <div class="progress-title">5</div>
                    <div class="progress-title">5</div>
                </div>

            </div>
        </div>
    </div>

    <div class="dash-widget-section-container">

        <div class="dash-widget-container dash-accounts">
            <h4>New Accounts</h4>
            <%= render partial: "accounts/accounts", locals: {accounts: current_user.accounts.weekly_accounts} %>
        </div>

        <div class="dash-widget-container dash-opportunities">
            <h4>New Opportunities</h4>
            <%= render partial: "opportunities/opportunities", locals: {opportunities: current_user.opportunities.weekly_opps} %>
        </div>

    </div>

    <div class="dash-widget-section-container dash-links-container">
        <div class="dash-widget-container dash-link-item">
            <i class="fas fas-icon fa-building"></i>
            <h4><%= link_to "Accounts", accounts_path, class:"dash-link-item" %></h4>
        </div>
        <div class="dash-widget-container dash-link-item">
            <i class="fas fas-icon fa-address-book"></i>
            <h4><%= link_to "Contacts", contacts_path, class:"dash-link-item" %></h4>
        </div>
        <div class="dash-widget-container dash-link-item">
            <i class="fas fas-icon fa-file-signature"></i>
            <h4><%= link_to "Opportunities", opportunities_path, class:"dash-link-item" %></h4>
        </div>
        <div class="dash-widget-container dash-link-item">
            <i class="fas fas-icon fa-boxes"></i>
            <h4><%= link_to "Products", products_path, class:"dash-link-item" %></h4>
        </div>
        <div class="dash-widget-container dash-link-item">
            <i class="fas fas-icon fa-users"></i>
            <h4><%= link_to "Users", users_path, class:"dash-link-item" %></h4>
        </div>
    </div>
</div>