<div class="form-container">
  <%= form_with(model: opportunity) do |form| %>

  <% if opportunity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(opportunity.errors.count, "error") %> prohibited this opportunity from being saved:</h2>

      <ul>
        <% opportunity.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    <form>
        <div class="field mb-3">
            <label class="form-label"><%= form.label :products %></label>
            <div class="form-control"><%= form.text_field :products %></div>
        </div>

        <div class="field mb-3">
            <label class="form-label"><%= form.label :contacts %></label>
            <div class="form-control"><%= form.text_field :contacts %></div>
        </div>

        <div class="actions">
            <%= form.submit %>
        </div>

        <% end %>
    </form>

</div>