<div class="form-container">
  <%= form_with(model: product) do |form| %>

  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
        <% product.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

   
        <div class="field mb-3">
            <label class="form-label"><%= form.label :name %></label>
            <div class="form-control"><%= form.text_field :name %></div>
        </div>

        <div class="field mb-3">
            <label class="form-label"><%= form.label :description %></label>
            <div class="form-control"><%= form.text_field :description %></div>
        </div>

        <div class="field mb-3">
            <label class="form-label"><%= form.label :price %></label>
            <div class="form-control"><%= form.text_field :price %></div>
        </div>

        <div class="actions">
            <%= form.submit %>
        </div>

        <% end %>
 

</div>