<p id="notice"><%= notice %></p>

<div class="head-container">
  <h1>Products</h1>
  <%= link_to 'Create Product', new_product_path, class:"btn btn-primary" %>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= link_to product.name, product %></td>
        <td><%= product.description %></td>
        <td>$<%= product.price %>0</td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>


