<p id="notice"><%= notice %></p>

<div class="head-container">
  <h1>Accounts</h1>
  <%= link_to 'Create Account', new_account_path, class:"btn btn-primary" %>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Company Name</th>
      <th>Address</th>
      <th>Phone</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  
    <% @accounts.each do |account| %>
      <% if current_user.id == account.user_id %>
      <tr>
        <td><%= link_to account.company_name, account %></td>
        <td><%= account.address %></td>
        <td><%= account.phone %></td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>


