<p id="notice"><%= notice %></p>


<h2>
  <strong><%= @account.company_name %></strong>
</h2>

<p>
  <strong>Address:</strong>
  <%= @account.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @account.phone %>
</p>

<h3>Contacts</h3>


<%= link_to 'Add Contact', new_contact_path(@contact) %> |
<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
